/**
* Admin styles for Doppler for WooCommerce
*/

/**
* Variables
*/

$main-text-color: #333;
$red: #b80d0d;

/**
* General elements.
*/

.dplrwoo-button{
    cursor: pointer;
    margin-top: 15px;
}


/**
* Menu
*/

#toplevel_page_doppler_for_woocommerce_menu a .dashicons-before img {
    width: 20px;
}

/**
* Settings
*/

.doppler-woo-settings{

    .mt-30{
      margin-top: 30px;
    }

    .text-right{
      text-align: right;
    }

    .text-red{
      color: $red;
    }

    h2.nav-tab-wrapper{
      margin-bottom: 30px;
    }

    table.tbl{
      width: 100%;
      max-width: 500px;
      tr{
        th,td{
          width: 50%;
          text-align:left;
          select{
            width: 100%;
          }
          &.text-right{
            text-align:right;
          }
        }
      }
    }

    #dplrwoo-form-list-crud{
      label{
        display:block;
        font-weight: 700;
      }
      .tbl{
        margin-top:30px;
      }
    }
}

/**
* Media Queries
*/