/**
* Admin styles for Doppler for WooCommerce
*/

/**
* Variables
*/

$main-text-color: #333;
$red: #b80d0d;

/**
* General elements.
*/

.d-none{
  display: none;
}

.dplrwoo-button{
    cursor: pointer;
    margin-top: 15px;
}


/**
* Menu
*/

#toplevel_page_doppler_for_woocommerce_menu a .dashicons-before img {
    width: 20px;
}

/**
* Settings
*/

.doppler-woo-settings{

    .mt-30{
      margin-top: 30px;
    }

    .text-right{
      text-align: right;
    }

    .text-red{
      color: $red;
    }

    h2.nav-tab-wrapper{
      margin-bottom: 30px;
    }

    .dplrwoo-loading{
      max-width: 500px;
      min-height: 200px;
      background-image: url('../img/loading.gif');
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    table.tbl{
      width: 100%;
      max-width: 500px;
      thead{
        margin-bottom:10px;
        tr{
          th{
            padding: 10px 0px;
            text-align: center;
            border-bottom: 1px solid #ccc;
          }
        }
      }
      tr{
        th,td{
          width: 50%;
          text-align:left;
          select{
            width: 100%;
          }
          &.text-right{
            text-align:right;
          }
        }
      }
      &.tbl--mapping{
        margin-top: 30px;
        &:first-child{
          margin-top: 0px;
        }
        tbody{
          tr{
            &:first-child{
              td{
                padding-top: 10px;
              }
            }
          }
        }
      }
    }

    #dplrwoo-crud{

      #dplrwoo-form-list-crud{
        label{
          display: block;
          font-weight: 700;
        }
        .tbl{
          margin-top:30px;
        }
      }

      .dplrwoo-loading{
        display: none;
      }
     
      #dprwoo-tbl-lists{
        display: block;
        a{
          cursor: pointer;
        }
        tr{
          &.deleting{
            pointer-events: none;
            opacity: 0.6;
            a{
              visibility:hidden;
              &:after{
                background-image: url('../img/loading.gif');
                background-repeat: no-repeat;
                content: '';
                height: 18px;
                margin-top: -18px;
                visibility: visible;
                display:block;
              }
            }
          }
        }
      }

      &.loading{
        
        form{
          button, input{
            pointer-events: none;
          }
        }
        .dplrwoo-loading{
          display: block;
        }
        #dprwoo-tbl-lists{
          display: none;
        }
       
      }

    }

    
}

/**
* Media Queries
*/